# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.example

# ignore copyrighted images
public/img/**/*
public/json/**/*
public/ui/**/*
examples/*
yarn-error.log
